
* {
    margin: 0px;
    padding: 0px;
    border: 0;
	box-sizing: border-box;
    text-decoration: none;
    color: #000;

}
ol, ul{
	list-style: none;
}

body {
	font-family: "Gordita", Arial, Helvetica, sans-serif;
	min-width: 320px;
}
.wrapper {
	width: 90%;
	margin: 0px auto;
	max-width:1200px;

}

@font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium'), url('Fonts/Gordita/Gordita\ Medium.woff') format('woff');
}
@font-face {
    font-family: 'Gordita Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular'), url('Fonts/Gordita/Gordita\ Regular.woff') format('woff');
}

::placeholder {
    color: #9B9B9B;
    opacity: 1;
}
      
:-ms-input-placeholder {
    color: #9B9B9B;
}
      
::-ms-input-placeholder {
    color: #9B9B9B;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    display: inline-block;
    text-align: center;
}
img{
    display: block;
    width: 100%;
}
a{
    color: #888398;
    line-height: 1.6;
    letter-spacing: .8px;
    font-size: 16px;


}
p{
    color: #888398;
    font-weight:550;
    line-height: 1.6;
    letter-spacing: .8px;
    font-size: 16px;

}
h1{
    font-size: 70px;
}
h2{
    font-size: 42px;
    font-family: "Gordita Regular";
    letter-spacing: 2px;
}
h3{
    font-family: "Gordita Medium";
    letter-spacing: .8px;
    font-size: 36px;
}
h4{
    font-family: "Gordita Medium";
    letter-spacing: .8px;
    font-size: 18px;
}



header{
    margin-top: 15px;
}
header figure{
    width: 15%;
}
header ul li{
    margin-right: 50px;
}
header ul li:last-child{
    margin-right: 0px;
}
header div a.button{
    margin-left: 15px;
    padding: 10px 30px;
    border-radius: 8px;
    background-image: linear-gradient(120deg, #E45F83 20%,#d76436b9 50%,#9D5BFF 90%);
    color: #FFF;
}
header a:hover  {
    padding-bottom: 5px;
    border-bottom: 1px solid hotpink;
    color: #000;
    transition: .2s;
}

#spotlight {
    margin-top: 20px;
}

#spotlight .right{
    flex-basis: 45%;
    /* display: none; */
}
#spotlight .left{
    padding-inline: 60px;
    flex-basis: 50%;
}
#spotlight .left h1{
    margin-block: 30px;
}
#spotlight .left a.button{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    background-image: linear-gradient(120deg, #E45F83 20%,#d76436b9 50%,#9D5BFF 90%);
    color: #FFF;
    display: inline-block;
}






#about{
    margin-block: 60px;
    overflow: hidden;
}
#about .top{
    text-align: center;
    margin-bottom: 20px;
}
#about .top h2{
    margin-bottom: 30px;
}

#about .bottom{
    align-items: normal;
    position: relative;
}
#about .bottom .widget{
    flex-basis: 300px;
    position: relative;

}
#about .bottom .underlay{
    position: absolute;
    z-index: -1;    
    width: 80%;
    top: 100px;
    right: 100px;
}

#about .bottom .widget h4{
    margin-bottom: 20px;
    padding-inline: 20px;
}
#about .bottom .widget p{
    padding-left: 20px;
}

#about .bottom .widget figure{
    height: 250px;
    margin-block: 40px;
    position: relative;
}


#about .bottom .widget span{
    position: absolute;
    top: 45%;
    left: 35%;
    font-family: "Gordita Medium";
    font-size: 12px;
}







#main{}

#main .content{
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#main .content figure {
    flex-basis: 35%;
}
#main .content div{
    flex-basis: 45%;
}

#main .content div h3{
    margin-bottom: 50px;
  letter-spacing: 1.6px; 
}
#main .content div p{
    margin-bottom: 60px;
}

#main .content div a{
    padding: 10px 15px;
    width: 200px;
    border-radius: 7px;
    border:1px solid  #9B9B9B ;
    white-space: nowrap;
    margin-bottom: 20px;
    font-family: "Gordita Medium";
    color: #000;
}
#main .content div a.button{
    border:2px solid  hotpink ;
    color: #000;
}
#main .content div a:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
#main .content div a img{
    height: 50px;
    width: 50px;
}



#newsletter{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

#newsletter h3{
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: 1.6px;
}
#newsletter p{
    margin-bottom: 50px;
}
#newsletter form{
    width: 600px;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    padding: 10px 10px;
    margin-inline: auto;
}
#newsletter form input{
    font-size: 20px;

}
#newsletter form input[type=email]{
    width: 70%;
    outline: none;
}
#newsletter form input[type = button]{
    color: #fff;
    width: 25%;
    padding: 15px 20px;
    background-image: linear-gradient(120deg, #E45F83 ,#d76436b9 ,#9D5BFF 90% );
    border-radius: 7px;
}




footer{
    margin-bottom: 20px;
}
footer a:hover{
    padding-bottom: 3px;
    color: #000;
    transition: .2s;
}

footer .wrapper{
    background-color: #d7d7d75c;
    border-radius: 7px;
    align-items: start;
    flex-wrap: wrap;
}
footer div{
    flex-basis: 25%;
    padding: 30px 40px  ;
}
footer div p{
    font-family: "Gordita Regular";
}
footer div figure{
    text-align: left;
    display: inline-block;
}
footer div div.socialmedia {
    justify-content: start;
    padding: 0px;
    margin-top: 20px;
    gap: 15px;

}

footer div div.socialmedia a{
    background-color: rgba(128, 128, 128, 0.222);
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}
footer div div.socialmedia a img{
    height: 20px;
    width: 20px;
}

footer div figure{
margin-bottom: 20px;
}
footer div figure img{
    height: 40px;
}

footer div h4{
    font-size: 18px;
    margin-bottom: 30px;
}
footer div li{
    margin-bottom: 8px;
}
footer div li a{
    font-family: "Gordita Regular";
    font-size: 14px;
}

footer span{
    flex-basis: 100%;
    text-align: center;
    padding-block: 30px;
    color: #9B9B9B;
}










 @media all and (max-width:1280px){
    h1{
        font-size: 66px;
    } 
    
#about .bottom .widget span{
    top: 110px;
    left: 100px;
}
}

@media all and (max-width:1080px){
     h1{
        font-size: 60px;
    }
    #about .bottom .widget span{
        top: 110px;
        left: 100px;
    }
 
} 



@media all and (max-width:980px){

    *{
        font-family: 'Gordita Regular";
    }
    a,p{
        font-size: 14px;
    }
    h1{
        font-size: 60px;
    }
    
    h2 {        
        font-size: 36px;
    }
  
    header ul li{
        margin-right: 40px;
    }
    header div a.button{
        margin-left: 10px;
        padding: 7px 18px;
    }
    #spotlight .right{
        flex-basis: 45%;
    }
    #spotlight .left{
        flex-basis: 50%;
        padding-inline: 30px; 
    }
    #about .bottom{
        flex-wrap: wrap;
        justify-content: center;
    }

    #about .bottom .widget figure{
        height: 200px;
    }
    #about .bottom .widget{
        flex-basis: 230px;
    }
    #about .bottom .widget span{
        top: 85px;
        left: 75px;
        font-size: 10px;
    }
    
    
    #main .content div h3{
        margin-bottom: 30px;
      letter-spacing: 1.6px; 
    }
    #main .content div p{
        margin-bottom: 15px;
    }
    #main .content div a{
        padding: 10px 10px;
        margin-bottom: 10px;
        width: 170px;
    }
    #main .content div a img{
        height: 30px;
        width: 30px;
    }
    #newsletter form{
        width: 500px;
        
    }
    #newsletter form input{
        font-size: 16px;
    
    }
    #newsletter form input[type = button]{
        width: 25%;
        padding: 10px 15px;
    }

    footer div{
        flex-basis: 150px;
        padding: 30px 20px  ;
    }

}



 
@media all and (max-width:888px){
    h1{
        font-size: 52px;
    }
} 

 


@media all and (max-width:768px){
    #spotlight .right{
        display: none;
    }

   
} 