
* {
    margin: 0px;
    padding: 0px;
    border: 0;
	box-sizing: border-box;
    text-decoration: none;
    color: #000;
}
ol, ul{
	list-style: none;
}

body {
	font-family: "Gordita", Arial, Helvetica, sans-serif;
	min-width: 320px;
}
.wrapper {
	width: 90%;
	margin: 0px auto;
	max-width:1200px;

}

@font-face {
    font-family: 'Gordita Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Medium'), url('Fonts/Gordita/Gordita\ Medium.woff') format('woff');
}
@font-face {
    font-family: 'Gordita Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gordita Regular'), url('Fonts/Gordita/Gordita\ Regular.woff') format('woff');
}

::placeholder {
    color: #9B9B9B;
    opacity: 1;
}
      
:-ms-input-placeholder {
    color: #9B9B9B;
}
      
::-ms-input-placeholder {
    color: #9B9B9B;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    display: block;
    width: 100%;
}
p,a{
    color: #888398;
    font-weight:550;
    line-height: 1.6;
    letter-spacing: .8px;

}

header{
    margin-top: 10px;
}
header figure{
    width: 150px;
}
header ul li{
    margin-right: 50px;
}
header ul li:last-child{
    margin-right: 0px;
}
header div a.button{
    margin-left: 15px;
    padding: 10px 30px;
    border-radius: 8px;
    background-image: linear-gradient(135deg, #e45f83be 20%,#d76436d5 50%,#9d5bffc4 );
    color: #FFF;
}
header a:hover{
    text-decoration: underline;
    text-decoration-color: orangered;
    color: #000;
    transition: .4s;
}

#spotlight {
    margin-top: 15px;
}

#spotlight .left , .right{
    flex-basis: 540px;
}
#spotlight .left{
    padding-inline: 60px;
}
#spotlight .left h1{
    font-size: 76px;
    margin-block: 30px;
}
#spotlight .left a.button{
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    background-image: linear-gradient(135deg, #e45f83be 20%,#d76436d5 50%,#9d5bffc4 );
    color: #FFF;
    display: inline-block;
}



#about{
    margin-block: 60px;
    overflow: hidden;
}
#about .top{
    text-align: center;
    margin-bottom: 20px;
}
#about .top h2{
    font-size: 42px;
    font-family: "Gordita Regular";
    letter-spacing: 2px;
    margin-bottom: 30px;
}

#about .bottom{
align-items: normal;
position: relative;

}
#about .bottom .widget{
    flex-basis: 300px;

}
#about .bottom .overlay{
    position: absolute;
    z-index: -1;
    
    
}

#about .bottom .widget h3{
    font-family: "Gordita Medium";
    margin-bottom: 20px;
    padding-inline: 20px;
}
#about .bottom .widget p{
    padding-left: 20px;
    width: 240px;
}

#about .bottom .widget figure{
    height: 300px;
    margin-block: 10px;
    background: #fff ;

}

#about .bottom .widget span{
    position: absolute;
    top: 120px;
    right: 115px;
    font-family: "Gordita Medium";
    font-size: 12px;
}
